html {
  font-size: 14px;
}

@font-face {
  font-family: 'ProximaNova Bold';
  font-style: normal;
  font-weight: bold;
  src: local('ProximaNova Bold'), url('typefaces/ProximaNova-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'ProximaNova Semibold';
  src: local('ProximaNova Semibold'), url('typefaces/ProximaNova-Semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'ProximaNova Regular';
  src: local('ProximaNova Regular'), url('typefaces/ProximaNova-Regular.woff2') format('woff2');
}

body {
  font-family: 'ProximaNova Regular', 'Open Sans', sans-serif;
  color: #4A5F9A;
}

.icon {
  position: absolute;
  top: 6pt;
  right: 6pt;
  visibility: hidden;
  font-size: 1.6rem;
}

.item-url {
  font-size: 1.6rem;
  color: #EDA6BF;
}

::placeholder {
  font-family: 'ProximaNova Regular', sans-serif;
}

h1 {
  margin-bottom: 8pt;
  margin-top: 0pt;
  line-height: 0.8;
  font-family: 'ProximaNova Bold', sans-serif;
}

h2 {
  margin: 0pt;
}

label {
  margin: 24pt 0 1.6rem;
  color: #4A5F9A;
  font-size: 1.6rem;
}

input {
  font-size: 1.4rem;
  margin: -8pt -10pt;
  padding: 8pt;
  border: solid 2pt rgba(0,0,0,0.1);
}

.button {
  font-family: 'Shrikhand', serif;
  font-size: 1.6rem;
  margin: 36pt -10pt;
  padding: 8pt;
  color: white;
  background-color: #EDA6BF;
  border-radius: 8pt;
  cursor: pointer;
  transition: background-color 0.1s;
  display: block;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px #4A5F9A, 4px 4px #B3A1E6;
  border: none;
}

.button:hover {
  background-color: #B3A1E6;
  text-shadow: 2px 2px #4A5F9A, 4px 4px #EDA6BF;
}

.selected-label {
  font-family: 'Shrikhand', serif;
  font-size: 2.0rem;
  margin: 0 -10pt 8pt;
  color: white;
  background-color: #B3A1E6;
  text-shadow: 2px 2px #4A5F9A, 4px 4px #B2DCFF;
  padding: 8pt;
}

form {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 0 10pt;
}

.heading {
  display: flex;
  flex-direction: column;
  padding-top: 64pt;
  padding-bottom: 32pt;
}

.headline {
  font-size: 3.6rem;
  word-spacing: -0.1rem;
}

.title {
  font-family:'Shrikhand';
  font-size: 4.8rem;
  line-height: 1.0;
  color: white;
  text-shadow: 4px 4px #4A5F9A, 8px 8px #B3A1E6, 12px 12px #EDA6BF;
  background-color: #B2DCFF;
  padding: 20px;
}

.container {
  margin: auto;
}

.text-max-width {
  max-width: 580px;
  margin: auto;
}

.item-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10pt;
  max-width: 900px;
  margin: 24pt auto;
}

.item-title {
  font-family: 'ProximaNova Bold';
  flex: 1;
  font-size: 2.4rem;
  margin: 12pt 0pt;
  display: flex;
  align-items: center;
  line-height: 1.0;
}

.raised-details {
  font-family: 'Shrikhand', serif;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: rgba(74, 94, 154, 0.08);
  padding: 10pt;
  position: relative;
  cursor: pointer;
}

.item:not(.item--purchased):hover {
  background-color: rgba(74, 94, 154, 0.2);
  transition: background-color 0.1s;
}

.item-image {
  width: 100%;
  margin-top: 4pt;
  margin-bottom: 4pt;
}

.item--purchased {
  color: white;
  border: 2px solid #B3A1E6;
  background-color: #B3A1E6;
  cursor: auto;
}

.purchased-icon {
  color: #EDA6BF;
}

.item--purchased .purchased-icon {
  visibility: visible;
  color: white;
}

.item--purchased .item-image {
  opacity: 0.5;
}

.item--selected:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid #EDA6BF;
}

.item--selected .selected-icon {
  visibility: visible;
  color: #EDA6BF;
}

.selected-item {
  font-size: 1.4rem;
}

.image-container {
  position: relative;
}

.funds-raised {
  font-size: 1.4rem;
  margin-bottom: 3pt;
  display: block;
}

.instructions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24pt auto 16pt;
  text-align: left;
  padding: 10pt;
}

.instructions {
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0;
  font-family: 'Cormorant Garamond', sans-serif;
}

.instructions-list ::marker {
  color: #B3A1E6;
  font-size: 1.6rem;
  font-family: 'ProximaNova Semibold';
}

.instructions-list li {
  margin: 8pt 0pt;
}

.progress-bar {
  height: 100%;
  background-color: #B3A1E6;
  transition: width 1s;
  transition-timing-function: ease-in-out;
}

.progress-bar-container {
  height: 16px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.75);
}

.lower-emphasis {
  font-style: italic;
  
  color: rgba(74, 94, 154, 0.75);
}

.instructions-title {
  font-family: 'Shrikhand', serif;
  font-size: 2.0rem;
  color: white;
  background-color: #EDA6BF;
  text-shadow: 2px 2px #4A5F9A, 4px 4px #B2DCFF;
  padding: 8pt;
}

.or {
  font-family: 'Shrikhand';
  text-align: center;
  align-self: center;
}

.loading-container {
  margin: 56pt auto;
  width: fit-content;
  text-align: center;
  grid-column: 1 / span 3;
}

.loader {
  height: 48pt;
  width: 48pt;
  border-radius: 50%;
  display: inline-block;
  background: 
  conic-gradient(white, white) padding-box,
     conic-gradient(white 10%, #EDA6BF 61.8%) border-box;
  border: 10px solid transparent;
  animation: rotation 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.one-or-other {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-device-width: 750px) {
  html {
    font-size: 24px;
  }

  .text-max-width {
    max-width: 100%;
  }

  .container {
    padding: 0 10pt;
  }

  .item-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
