@font-face {
  font-family: 'denalova Regular';
  font-style: normal;
  font-weight: normal;
  src: local('denalova Regular'), url('typefaces/denalova.woff') format('woff');
}

body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(89, 106, 97);
}

.icon {
  position: absolute;
  top: 6pt;
  right: 6pt;
  visibility: hidden;
  font-size: 16pt;
}

::placeholder {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin-bottom: 8pt;
  margin-top: 0pt;
  font-family: 'Cantata One', serif;
}

h2 {
  margin: 0pt;
}

label {
  font-family: 'Cantata One', serif;
  margin: 24pt 0 16pt;
  color: rgb(89, 106, 97);
  font-size: 16pt;
}

input {
  font-size: 12pt;
  margin: -8pt -10pt;
  padding: 8pt;
  border: solid 2pt lightgray;
  border-radius: 8pt;
}

.button {
  font-family: 'Cantata One', serif;
  font-size: 16pt;
  margin: 36pt -10pt;
  padding: 8pt;
  color: white;
  background-color: rgba(89, 106, 97, 0.8);
  border-radius: 8pt;
  cursor: pointer;
  transition: background-color 0.1s;
  display: block;
  text-align: center;
  text-decoration: none;
  border: none;
}

.button:hover {
  background-color: rgb(89, 106, 97);
}

.form-container {
  margin: auto;
  max-width: 494px;
}

form {
  margin-top: 8pt;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.heading {
  background-image: url('decorations/Floralgreeneryframe.png');
  background-position: center;
  background-repeat: no-repeat; 
  background-size: contain; 
  display: flex;
  flex-direction: column;
  padding-top: 106pt;
  padding-bottom: 106pt;
}

.headline {
  font-size: 16pt;
}

.title {
  font-family:'denalova Regular', cursive;
  font-size: 42pt;
}

.container {
  margin: auto;
  max-width: 768px;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.item-container {
  flex: 1;
  max-width: 33.33%;
  display: flex;
}

.item-title {
  font-family: 'Cantata One', serif;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 450px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .item-container {
    max-width: none;
    width: 75%;
  }
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(30, 62, 121, 0.08);
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

.item:not(.item--purchased):hover {
  background-color: rgba(30, 62, 121, 0.2);
  transition: background-color 0.1s;
}

.item-image {
  width: 100%;
  margin-bottom: 6pt;
  border-radius: 4px;
}

.item--purchased {
  color: white;
  border: 2px solid rgb(89, 106, 97);
  background-color: rgb(89, 106, 97);
  cursor: auto;
}

.purchased-icon {
  color: rgb(14, 34, 70);
}

.item--purchased .purchased-icon {
  visibility: visible;
  color: white;
}

.item--purchased .item-image {
  opacity: 0.5;
}

.item--purchased:hover {
  background-color: rgb(89, 106, 97);
}

.item--selected:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 8px;
  border: 2px solid rgb(89, 106, 97);
}

.item--selected .selected-icon {
  visibility: visible;
}

.selected-item {
  font-size: 12pt;
}

.image-container {
  position: relative;
}

.funds-raised {
  margin-bottom: 3pt;
  display: block;
}

.instructions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24pt 0 16pt;
  text-align: left;
}

.instructions {
  font-size: 12pt;
  line-height: 1.5;
  max-width: 480px;
  margin: 0;
}

.progress-bar {
  height: 100%;
  background-color: rgb(89, 106, 97);
  transition: width 1s;
  transition-timing-function: ease-in-out;
}

.progress-bar-container {
  height: 16px;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.75);
}

.lower-emphasis {
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
}

.bold {
  font-weight: 900;
}

.loading-container {
  margin: 56pt 0;
}

.loader {
  height: 48pt;
  width: 48pt;
  border-radius: 50%;
  display: inline-block;
  background: 
  conic-gradient(white, white) padding-box,
     conic-gradient(white 10%, rgb(89, 106, 97) 61.8%) border-box;
  border: 10px solid transparent;
  animation: rotation 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
